main h2 {
  color: #ec6a4c;
  text-align: center;
}

/* Dog section */
main h2 {
  background-color: #1f1f1f;
  padding: 2% 0;
  margin-top: 10px;
}



#dog-accessories .card,
#dog-accessories .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

#dog-accessories .card-title {
  color: #ff8620;
  font-size: xx-large;
}

#dog-accessories .card-text {
  color: #ff8620;
  font-size: larger;
}

#dog-accessories p {
  color: #ec6a4c;
  font-size: large;
}

/* Cat section */

@media screen and (min-width: 768px) {
  #dog-bones .card-text,
  #dog-toy-balls .card-text {
    min-height: 86px;
  }

  #dog-bowls .card-text {
    min-height: 57px;
  }
}
