main h2 {
  color: #ec6a4c;
  text-align: center;
}

/* Dog section */
main h2 {
  background-color: #1f1f1f;
  padding: 2% 0;
  margin-top: 10px;
}

#dog-bones {
  margin-top: 5px;
  margin-bottom: 15px;
}

#dog-toy-balls,
#dog-squeek-toy,
#dog-beds {
  margin-bottom: 15px;
}

#dog-bowls {
  margin-bottom: 5px;
}

#dog-accessories .card,
#dog-accessories .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

#dog-accessories .card-title {
  color: #ff8620;
  font-size: xx-large;
}

#dog-accessories .card-text {
  color: #ff8620;
  font-size: larger;
}

#dog-accessories p {
  color: #ec6a4c;
  font-size: large;
}

/* Cat section */

/* Media screens */
@media screen and (min-width: 768px) {
  /* Dog section */

  /* Card margins */
  #dog-bones,
  #dog-toy-balls,
  #dog-squeek-toy {
    margin-top: 10px;
    margin-bottom: 17px;
  }

  #dog-beds,
  #dog-bowls {
    margin-bottom: 6px;
  }

  /* Text heights */
  #dog-bones .card-text,
  #dog-toy-balls .card-text {
    min-height: 86px;
  }

  #dog-bowls .card-text {
    min-height: 57px;
  }
}

@media screen and (min-width: 992px) {
  /* Text heights */
  #dog-bones .card-text,
  #dog-toy-balls .card-text,
  #dog-bowls .card-text {
    min-height: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Text heights */
  #dog-toy-balls .card-text {
    min-height: 57px;
  }
}

@media screen and (min-width: 1400px) {
  /* Text heights */
  #dog-bones .card-text {
    min-height: 57px;
  }
}