main h2 {
  color: #ec6a4c;
  text-align: center;
  background-color: #1f1f1f;
  padding: 2% 0;
  margin-top: 10px;
}

main .card,
main .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

main .card-title {
  color: #ff8620;
  font-size: xx-large;
}

main .card-text {
  color: #ff8620;
  font-size: larger;
}

main p {
  color: #ec6a4c;
  font-size: large;
}

/* Custom margins for cards */
#dog-bones,
#cat-toy-kit {
  margin-top: 5px;
  margin-bottom: 15px;
}

#dog-toy-balls,
#dog-squeek-toy,
#dog-beds,
#cat-nip-chew,
#cat-hairy-toy,
#cat-beds,
#cat-bowls {
  margin-bottom: 15px;
}

#dog-bowls {
  margin-bottom: 5px;
}

/* Media screens */
@media screen and (min-width: 768px) {
  /* Dog section */
  /* Text heights */
  #dog-bones .card-text,
  #dog-toy-balls .card-text {
    min-height: 86px;
  }

  #dog-bowls .card-text {
    min-height: 57px;
  }

  /* Card margins */
  #dog-bones,
  #dog-toy-balls,
  #dog-squeek-toy {
    margin-top: 10px;
    margin-bottom: 17px;
  }

  #dog-beds,
  #dog-bowls {
    margin-bottom: 6px;
  }

  /* Cat section */
  /* Text heights */
  #cat-toy-kit .card-text {
    min-height: 96px;
  }

  #cat-beds .card-text {
    min-height: 57px;
  }

  /* Card margins */
  #cat-toy-kit, #cat-nip-chew, #cat-hairy-toy {
    margin-top: 8px;
  }
}

@media screen and (min-width: 992px) {
  /* Dog section */
  /* Text heights */
  #dog-bones .card-text,
  #dog-toy-balls .card-text,
  #dog-bowls .card-text {
    min-height: 0;
  }

  /* Cat section */
  /* Text heights */
  #cat-hairy-toy .card-text {
    min-height: 96px;
  }

  #cat-bowls .card-text {
    min-height: 56px;
  }
}

@media screen and (min-width: 1200px) {
  /* Dog section */
  /* Text heights */
  #dog-toy-balls .card-text {
    min-height: 57px;
  }

  /* Cat section */
  /* Text heights */
   #cat-toy-kit .card-text, #cat-hairy-toy .card-text {
    min-height: 0;
  }
}

@media screen and (min-width: 1400px) {
  /* Dog section */
  /* Text heights */
  #dog-bones .card-text {
    min-height: 57px;
  }
}
