/* Global styles */
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
}

/* Navbar section */
.css-navbar {
  background-color: #ff8620;
}

.css-shopping-basket{
  list-style: none;
}

.css-hamburger-menu {
  border: none;
}

.dropdown-menu {
  background-color: #1f1f1f;
}

.dropdown-menu a {
  color: #ff8620;
}

.dropdown-menu a:hover {
  background-color: #cd9c8a;
}

/* Main */
main h1 {
  color: #cd9c8a;
  text-align: center;
}

main .card {
  background-color: #1f1f1f;
  border: none;
}

main .card-title {
  color: #ff8620;
}

main .card-text {
  color: #ff8620;
  font-size: larger;
}

.btn-primary {
  background-color: #ff8621;
  color: black;
  border: none;
  border-radius: 0;
}

/* Footer */
footer {
  text-align: center;
  color: #cd9c8a;
  padding: 2% 0;
  background-color: #1f1f1f;
}

footer p {
  margin: 1% 0;
}

/* Media screens */
@media screen and (min-width: 992px) {
  /* Navbar */
  .css-custom-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 2rem;
  }

  .css-custom-nav .nav-item {
    margin-right: 2rem;
  }

  .css-shopping-basket {
    margin-left: 90%;
  }

  /* Footer */
  footer {
    padding: 5px 0;
  }
}