/* Global styles */
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

html, body {
  background-color: black;
}

main h2 {
  color: #cd9c8a;
}

.card-img-top {
  border-radius: 0;
}

/* Navbar section */
.active-page-nav {
  border-bottom: 2px solid #1f1f1f;
  padding-bottom: 5px;
}

.page-nav:hover {
  border-bottom: 2px solid #1f1f1f;
  padding-bottom: 5px;
}

.css-navbar {
  background-color: #ff8620;
}

.css-shopping-basket{
  list-style: none;
}

.css-hamburger-menu {
  border: none;
}

.dropdown-menu {
  background-color: #1f1f1f;
}

.dropdown-menu a {
  color: #ff8620;
}

.dropdown-menu a:hover {
  background-color: #cd9c8a;
}

/* Main */
#featured h5 {
  color: #ff8620;
}

#featured .card {
  background-color: #1f1f1f;
  border-radius: 0;
}

.css-margin-top {
  margin-top: 3%;
}

.css-margin-bottom {
  margin-bottom: 3%;
}

#featured p {
  color: #ff8620;
}

#featured p + p {
  font-size: larger;  
}

.css-custom-font-size {
  font-size: larger;
}

#featured .btn-primary {
  background-color: #ff8620;
  color: black;
  border: none;
  border-radius: 0;
}

#featured .btn-primary:hover {
  background-color: #cc6418;
  color: white;
}

/* Footer */
footer {
  text-align: center;
  color: #cd9c8a;
  padding: 2% 0;
  background-color: #1f1f1f;
}

footer p {
  margin: 1% 0;
}

/* Media screens */
@media screen and (min-width: 768px) {
  .css-margin-top {
    margin-top: 0%;
  }
  
  .css-margin-bottom {
    margin-bottom: 3%;
  }

  #featured .css-card-text {
    min-height: 115px;
  }

}

@media screen and (min-width: 992px) {
  /* Navbar */
  .css-custom-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 2rem;
  }

  .css-custom-nav .nav-item {
    margin-right: 2rem;
  }

  .css-shopping-basket {
    margin-left: 90%;
  }

  /* Main */
  #featured .css-card-text {
    min-height: 0;
  }

  /* Footer */
  footer {
    padding: 5px 0;
  }
}