/* Main */
main h2 {
  color: #ec6a4c;
  text-align: center;
}

/* Dog food section */
#dog-food h2 {
  background-color: #1f1f1f;
  padding: 2% 0;
}

#standard {
  margin-top: 8px;
  margin-bottom: 15px;
}

#premium,
#luxury,
#sensitive,
#puppy {
  margin-bottom: 15px;
}

#dog-food .card,
#dog-food .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

#dog-food .card-title {
  color: #ff8620;
  font-size: xx-large;
}

#dog-food .card-text {
  color: #ff8620;
  font-size: larger;
}

#dog-food p {
  color: #ec6a4c;
  font-size: large;
}

/* Cat food section */
#cat-food h2 {
  background-color: #1f1f1f;
  padding: 2% 0;
}

#cat-standard {
  margin-top: 8px;
  margin-bottom: 15px;
}

#cat-sensitive,
#cat-kitten {
  margin-bottom: 15px;
}

#cat-food .card,
#cat-food .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

#cat-food .card-title {
  color: #ff8620;
  font-size: xx-large;
}

#cat-food .card-text {
  color: #ff8620;
  font-size: larger;
}

#cat-food p {
  color: #ec6a4c;
  font-size: large;
}

/* Footer */
footer {
  text-align: center;
  color: #cd9c8a;
  padding: 2% 0;
  background-color: #1f1f1f;
}

footer p {
  margin: 1% 0;
}

/* Media screens */
@media screen and (min-width: 768px) {
  /* Dog section */
  #premium {
    margin-top: 8px;
  }

  #dog-food .card-title {
    font-size: x-large;
  }

  #dog-food .card-text {
    font-size: large;
    min-height: 120px;
  }

  #dog-food .css-text-height {
    min-height: 70px;
  }

  /* Cat section */
  #cat-sensitive,
  #cat-kitten {
    margin-top: 8px;
  }

  #cat-sensitive .card-text,
  #cat-kitten .card-text {
    min-height: 144px;
  }
}

@media screen and (min-width: 992px) {
  /* Dog section */
  #dog-food .css-center-card {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #dog-food .card-text {
    font-size: large;
    min-height: 80px;
  }

  #dog-food .css-text-height {
    min-height: 110px;
  }

  /* Cat section */
  #cat-sensitive .card-text,
  #cat-kitten .card-text {
    min-height: 115px;
  }

  /* Footer */
  footer {
    padding: 5px 0;
  }
}

@media screen and (min-width: 1200px) {
  #cat-sensitive .card-text,
  #cat-kitten .card-text {
    min-height: 86px;
  }
}
