/* Main */
main h2 {
  color: #ec6a4c;
  text-align: center;
}

/* Food section */
main .card, main .card-img-top {
  background-color: #1f1f1f;
  border: none;
  border-radius: 0;
}

#food .card-title {
  color: #ff8620;
  font-size: xx-large;
}

main .card-text {
  color: #ff8620;
  font-size: larger;
}

/* Footer */
footer {
  text-align: center;
  color: #cd9c8a;
  padding: 2% 0;
  background-color: #1f1f1f;
}

footer p {
  margin: 1% 0;
}

/* Media screens */
@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 992px) {
  /* Footer */
  footer {
    padding: 5px 0;
  }
}