/* Global styles */
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: black;
}

/* Navbar style */
.css-navbar {
  background-color: #ff8620;
}

.css-shopping-basket{
  list-style: none;         
}

.css-hamburger-menu {
  border: none;
}

/* Media screens */
@media screen and (min-width: 992px) {
  .css-custom-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 2rem;
  }

  .css-custom-nav .nav-item {
    margin-right: 2rem;
  }
}