/* Global styles */
body {
  background-color: black;
}

/* Navbar style */
.css-navbar {
  background-color: #ff8620;
}

.shopping-basket{
  list-style: none;         
}

@media screen and (min-width: 992px) {
  .center-on-page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}