/* Global styles */
body {
  background-color: black;
}

/* Navbar style */
.css-navbar {
  background-color: #ff8620;
}

.css-shopping-basket{
  list-style: none;         
}

.css-hamburger-menu {
  border: none;
}

/* Media screens */
@media screen and (min-width: 992px) {
  .css-custom-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}